:root {
 --Dark-Blue: #135cc6;
 --Orange: #ff7730;
 --Black: #050403;
 --Purple: #7736e0;
}
.dark{
    --primary:(var(--Black));
}
.light{
    --primary:(var(--dark-blue))
}
.Night{
    --primary:(var(var(--Purple)))
}


.flex-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    }
    
    .card {
        width: 20%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 12px 12px 12px;
        border-radius: 15px;
        box-shadow: 7px 7px 7px 7px;
        background-color: burlywood;
    }
    
    .card-img {
        width: 80%;
        height: 80%;
        width: 20vw;
        height: 280px;
        object-fit: cover;
      }
    
      .card-title {
        font-family: 'Croissant One', cursive;
        font-size: large;
    }
    
    .card-desc {
        text-align: center;
        font-size: x-large;
    }