:root {
 --dark-blue: #135cc6;
 --orange: #ff7730;
 --primary: var(var(--dark-blue));
 --primary: var(--orange)
 --h1: 7.594rem;
 --h2: 5.063rem
}
.dark{
    --primary:(var(--orange));
}
.light{
    --primary:(var(--dark-blue))
}
body{
    background-color: var(--primary);
}
h1{
    font-size: var(--h1);
}
.section-title{
    font-size: var(--h1)
}
.flex-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    }
    
    .card {
        width: 20%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 12px 12px 12px;
        border-radius: 15px;
        box-shadow: 7px 7px 7px 7px;
        background-color: burlywood;
    }
    
    .card-img {
        width: 80%;
        height: 80%;
        width: 20vw;
        height: 280px;
        object-fit: cover;
      }
    
      .card-title {
        font-family: 'Croissant One', cursive;
        font-size: large;
    }
    
    .card-desc {
        text-align: center;
        font-size: x-large;
    }